* {
    padding: 0;
    margin: 0;

}

body {
    margin: 0;
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: #f2f2f2;
}
.nav{
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    
}
.main {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg img {
    width: 100%;
    object-fit: cover;
    /* Ensure the image covers the container without distortion */
    position: absolute;
    /* Optional: position the image absolutely within the container */
    top: 0;
    /* Center the image vertically */
    left: 0;
    /* Center the image horizontally */
    

}